<div layout="row" layout-wrap layout-margin>
    <md-toolbar layout="row" layout-wrap>
        <md-button ng-repeat="tonic in scale.tonics" ng-class="{'md-raised' : scale.isTonic(tonic)}" ng-click="scale.setTonic(tonic)">{{tonic}}</md-button>
    </md-toolbar>
    <md-toolbar layout="row">
        <md-button class="md-accent" flex="20" ng-repeat="accidental in scale.accidentals" ng-class="{'md-raised' : scale.isAccidental(accidental)}" ng-click="scale.setAccidental(accidental.value)">{{accidental.name}}</md-button>
    </md-toolbar>
    <md-toolbar layout="row" layout-wrap>
        <md-button ng-repeat="scaleType in scale.scaleTypes" ng-class="{'md-raised' : scale.isScaleType(scaleType)}" ng-click="scale.setScaleType(scaleType)">{{scaleType}}</md-button>
    </md-toolbar>
</div>
