<div layout="row">
    <md-input-container style="margin-right: 10px;">
        <label>Scale Tonic</label>
        <md-select ng-model="scale.selected.tonic">
            <md-option ng-repeat="tonic in scale.tonics" value="{{tonic}}">{{tonic}}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;">
        <label>Scale Type</label>
        <md-select ng-model="scale.selected.scaleType">
            <md-option ng-repeat="scaleType in scale.scaleTypes" value="{{scaleType}}">{{scaleType}}</md-option>
        </md-select>
    </md-input-container>
</div>
<kor-scale></kor-scale>
