<div>
    <div md-swipe-left="closeLeftMenu()">
        <md-sidenav md-component-id="left" class="md-sidenav-left">
            <md-toolbar class="md-primary" layout="row" layout-align="start center">
                <img src="images/kording-logo.png" class="logo" alt="kording" style="height: 40px; width: auto">
                <span>Kording</span>
            </md-toolbar>
            <md-content>
                <md-list ng-click="closeLeftMenu()">
                    <div ng-repeat="navLink in tool.navLinks">
                        <md-list-item>
                            <md-button ng-href="{{navLink.href}}" class="md-hue-2">{{navLink.label}}</md-button>
                        </md-list-item>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </md-list>
            </md-content>
        </md-sidenav>
    </div>
</div>
